/* -------------CHECKOUT -------------*/
/* formulario */
.checkout{
    height: 800px;
    background: #DDDDDD;
}
.checkout_titulo{
    margin-top:2rem;
    padding-top: 4rem;
    text-align: center;
}
.checkout_contenido{
    display: flex;
    justify-content: space-around;
    height: auto;
}

.form{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    margin: 2rem;
}
.form_label{
    display: block;
    font-weight:700;
    padding:10px;
    cursor: pointer;
}
.form_grupo-input{
    position: relative;

}

.form_input{
    width: 100%;
    background:white;
    border: 3px solid transparent;
    line-height: 45px;
    padding:0 40px 0 10px ;
    transition: .3s ease all;

}
.form_input:focus{

    border: 1px solid #0075ff;
    outline: none;
    box-shadow: 2px 0px 40px rgba(99, 99, 99, 0.2);

}
.form_input-error{
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
    margin-left: 10px;
    opacity: 0;
}

.form_validacion-estado{
    position: absolute;
    right: 10px;
    bottom: 12px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}


.form_mensajeError,
.form_grupo-btn{
    grid-column: span 2;
}

.form_mensajeError{
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    background: #f66060;
    border-radius: 3px;
    display: none;
}

.form_mensajeError-active{
    display: block;
}

.form_grupo-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_btn{
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    padding: 0 5px;
    background: #06113C;
    color: #fff;
    font-weight:500;
    border: none;
    cursor: pointer;
    transition: .2s ease all;
}
.form_btn:hover{
    color: #B20600;
}

.form_mensaje-exito{
    font-size: 14px;
    color:#119200;
    display: none;
}
.form_mensaje-exito-activado{
    display: block;
}

/* ---- estilos de validacion ----*/
/* correcto */

.form_grupo-correcto .form_input{
    border:1px solid #1ed12d;
}
.form_grupo-correcto i.fa-circle-check{
    color:#1ed12d;
    opacity: 1;
}
/* incorrecto */
.form_grupo-incorrecto .form_input{
    border:1px solid #bb2929;
}
.form_grupo-incorrecto i.fa-circle-xmark{
    color:#bb2929;
    opacity: 1;
}

.form_grupo-incorrecto .form_input-error{
    opacity: 1;
}

/*                             --------------checkout card------------ */
.checkout_card{
    width: 30%; 
}
.checkout_card-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background: #fff;
    border-radius: 20px;
    height: auto;
    transition: 0.4s all linear;
}
.checkout_card-contenido:hover{
    transform:scale(1.05) ;
    box-shadow: rgba(99, 99, 99, 0.2);
}

.checkout_table-product,
.checkout_table-precio{
    width: 100%;
}

/* scroll en la tabla  */
thead, tbody { display: block; }

tbody {
    max-height: 310px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */

}
.t2{
   width: 45%; 
}

.product-img{
    width: 90%;
}

.table-subtotal{
    width: 80%;
    font-size: 1.2rem;
    border-top: 1px solid rgba(190, 187, 180, 0.738);
}
.table-total{
    font-size: 2rem;
}
.t1{
    width: 90%;
    text-align: start;
    padding-left: 1.5rem;
}
